/* *{
    margin: 20px;
} */

table{
    height: 456px;
    width: 800px;
}

table, td{
    border: solid 1px;
    border-collapse: collapse;
}

tr:nth-child(odd){
    background: red;
}

tr:nth-child(even){
    background: white;
}

.stars img{
    width: 288px;
    height: 245px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 8px;
    margin-top: 9px;
}